@page "/"

<PageTitle>Index</PageTitle>

Welcome to your new app.

<ul>
    @foreach (var p in people)
    {
        <li>@p.FirstName @p.LastName</li>    
    }
</ul>

@code{
    List<PersonModel> people;

    protected override Task OnInitializedAsync()
    {
        throw new NotImplementedException();
    }

}
